/* Coded by Craig Lewis ST20317192*/
/* index.php styling */

#background_search{
    width: 100%;
    height: auto;
    min-height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
}

 #title_container{
     height: auto;
 }

 #title_1, #title_2 li{
     list-style: none;
 }

#title_1{
    height: auto;
    font-family: Caveat, sans-serif;
    font-size: 35px;
    margin-top: 60px;
}

#title_2{
    font-family: "Noto Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
    height: auto;
    list-style: none;
}

#signup_button_container{
    height: auto;
}

#signup_button_container button{
    width: 200px;
    height: 100px;
    background-color: #C67218;
    border-radius: 20px;
    font-size: 30px;
    display: flex;
    font-family: "Noto Sans", sans-serif;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 60px;
}

#search_bar_container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    opacity: 85%;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

#search_bar{
    background-color: white;
    height: 40px;
    width: 100%;
    border-radius: 90px;
    display: flex;
    align-items: center;
    margin: 40px 0 40px 40px;
}

#search_bar input{
    border-radius: 90px;
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    margin: 0 20px 0 20px;
}

#search_button{
    background-size: contain;
    background: url("../images/arrow_right_button_search.svg") no-repeat center;
    border-radius: 90px;
    height: 40px;
    width: 40px;
    margin: 0 20px 0 20px;
    background-color: white;
}

#search_bar_icon{
    width: 30px;
    height: 30px;
    background-image: url("../images/magnifying_glass.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 15px;
}

#search_bar label {
    display: contents;
}

