/* Coded by Craig Lewis*/
/* index.php styling */

#background_search{
    width: 100%;
    height: 310px;
    background-color: #000000;
    opacity: 70%;
    border-radius: 40px;
    margin: 40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 button{
     width: 200px;
     height: 100px;
     background-color: #C67218;
     border-radius: 20px;
     font-size: 30px;
     margin-top: 20px;
 }
 #search_button{
     width: 40px;
     height: 40px;
     background: url("images/arrow_right_button.svg");
     display: flex;
 }

 #title_column{
     height: auto;
 }

 #title_1, #title_2, li{
     list-style: none;
 }

#title_1{
    height: auto;
    font-family: Caveat, sans-serif;
    font-size: 35px;
 }

#title_2{
    font-family: "Noto Sans", sans-serif;
    font-size: 45px;
    height: auto;
}

#signup_button_column{
    height: auto;
}

#search_bar_column{
    width: 100%;
    height: auto;
}

#search_bar{
    background-color: #ffffff;
    height: 40px;
    width: 80%;
    border-radius: 90px;
    margin: 0 auto;
}

#search_bar input{
    background-color: #ffffff;
    opacity: 100%;
    height: 40px;
    width: 80%;
    border-radius: 90px;
    margin: 0 auto;
    outline: none;
    border: none;
}