/* Coded by Craig Lewis*/
/* index.php styling */

#background_search{
    width: 100%;
    height: 310px;
    background-color: #000000;
    opacity: 70%;
    border-radius: 40px;
    margin-top: 80px;
}

 button{
     width: 100px;
     height: 40px;
     background-color: #333333;
     border-radius: 40px;
 }

 #title_1, #title_2, li{
     list-style: none;
 }

#title_1{
    font-family: Caveat, sans-serif;
    font-size: 35px;
 }

#title_2{
    font-family: "Noto Sans", sans-serif;
    font-size: 45px;
}

#signup_button{
    background-color: #33333658;
}

#search_bar_container{
    background-color: #414533;
    height: 40px;
    border-radius: 90px;
}