/* Coded by Craig Lewis ST20317192*/
/* Mobile and Tablet Friendly */
@media (max-width: 768px) {
    .container_960 .column_1, .container_960 .column_2, .container_960 .column_3,
    .container_960 .column_4, .container_960 .column_5, .container_960 .column_6,
    .container_960 .column_7, .container_960 .column_8, .container_960 .column_9,
    .container_960 .column_10, .container_960 .column_11, .container_960 .column_12 {
        flex: 0 0 100%;
        padding-left: 0;
        padding-right: 0;
        flex-flow: wrap;
    }

    #body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("images/background.jpg");
    }

    header{
        width: 100%;
        height: auto;
        position: static;
    }

    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login_links_button {
        background-color: #636851;
        width: 50% !important;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 90px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    #footer_container{
        display: flex;
        gap: 25px;
    }


    #nav_links ul{
        flex-direction: column;
        list-style: none;
        align-items: center;
        margin-right: 45px;
    }

    #nav_links ul li{
        margin-bottom: 25px;
    }

    #home_navigation_container {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        display: flex;
        align-items: center;
    }

    #background_search{
        width: 100%;
        height: auto;
        min-height: auto;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    #search_bar{
        background-color: white;
        height: 40px;
        width: 70%;
        border-radius: 90px;
        display: flex;
        align-items: center;
        margin: 40px 0 40px 40px;
    }

    #search_bar_icon{
        width: 30px;
        height: 30px;
        background-image: url("../images/magnifying_glass.svg");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 5px 0 0 15px;
    }

    #signup_button_container button{
        width: 200px;
        height: 100px;
        background-color: #C67218;
        border-radius: 20px;
        font-size: 30px;
        display: flex;
        font-family: "Noto Sans", sans-serif;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #nav_links button{
        width: 100%;
        height: 80px;
        border: none;
        border-radius: 0px;
        background-color: #333333;
        color: white;
    }

    #navigation_container {
        max-width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        align-items: center;
        display: flex;
    }

    #search_bar_nav{
        background-color: white;
        height: 40px;
        max-width: 70%;
        border-radius: 90px;
        align-items: center;
        flex-direction: column;
    }

    #search_bar_nav input{
        background-color: white;
        height: 40px;
        max-width: 80%;
        border-radius: 90px;
        align-items: center;
    }

    #search_bar_nav_icon{
        width: 30px;
        height: 30px;
        background-image: url("../images/magnifying_glass.svg");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 5px 0 0 15px;
    }

}

@media (max-width: 480px) {
    .container_960 .column_1, .container_960 .column_2, .container_960 .column_3,
    .container_960 .column_4, .container_960 .column_5, .container_960 .column_6,
    .container_960 .column_7, .container_960 .column_8, .container_960 .column_9,
    .container_960 .column_10, .container_960 .column_11, .container_960 .column_12 {
        flex: 0 0 100%;
        padding-left: 0;
        padding-right: 0;
    }
}