/* Coded by Craig Lewis ST20317192*/
/* Navigation*/

#navigation_container {
    width: 80%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
}

#nav_links ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    justify-content: center;
    margin-right: 60px;
}

#nav_links a{
    text-decoration: none;
    list-style: none;
    color: white;
}

#nav_links a:hover{
    text-decoration: none;
    list-style: none;
    color: deepskyblue;
}

#nav_links button{
    width: 120px;
    height: 80px;
    background-color: clear;
    border: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
}

#nav_links button:hover{
    width: 120px;
    height: 80px;
    background-color: clear;
    border: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.0);
    color: dodgerblue;
}

#nav_links button:active{
    cursor: pointer;
    color: cornflowerblue;
}

#search_nav_bar{
    background-color: #414533;
}