/* index.html styling */
header{
    background-color: #414533;
    color: white;
    align-items: center;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100px;
    height: 60%;
    padding: 10px;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid #414533;
    background-color: #414533;
    cursor: pointer;
    color: white;

}

#logo a {
    color: white;
    text-decoration: none;
}

#logo h1{
    letter-spacing: 5px;
}

#logo {
    display: flex;
}

.login_links_button {
    background-color: black;
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_links_button ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

#login_links_button li {
    list-style: none;
}

#login_links_button a {
    color: white;
    text-decoration: none;
}

#accessibility_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#accessibility_links ul{
    display: flex;
    gap: 20px;
}

#accessibility_links a{
    color: white;
    text-decoration: none;
}

#accessibility_links li{
    display: flex;
}

main{
    flex-grow: 1;
    color: white;
}

footer {
    font-size: 16px;
    background-color: #000000;
    opacity: 70%;
    height: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#footer_container li {
    list-style: none;
}

#footer_list_1, #footer_list_2, #footer_list_3 {
    align-items: center;
}

#footer_list_1 ul, #footer_list_2 ul, #footer_list_3 ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#footer_list_1 h1, #footer_list_2 h1, #footer_list_3 h1{
    font-size: 16px;
}

#footer_list_1 li, #footer_list_2 li, #footer_list_3 li{
    font-size: 12px;
    font-style: normal;
}

#footer_list_1 a, #footer_list_2 a, #footer_list_3 a {
    color: white;
    text-decoration: none;
}
