/* index.html styling */
header{
    background-color: #414533;
    color: white;
    align-items: center;
}

.login_links_button{
    background-color: black;
    border-radius: 20%;
    width: 150px;
    height: 51px;
}

#login_links, #menu_links{

}

main{
    flex-grow: 1;
    color: white;
}

footer{
    background-color: #000000;
    opacity: 70%;
    height: 210px;
}

#footer_container li a{
    background-color: #000000;
    height: 210px;
    opacity: 70%;
    text-align: center;
    color: white;
}

#footer_list_1, #footer_list_2, #footer_list_3{
    display: inline-flex;
}